button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#ajout {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

ul {
    text-align:center;
    position:relative;
    top:100px;
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}

#ajout:hover {background-color: #e7e7e7;}


header {
    color: white;
    font-family: Verdana, sans-serif;
    background-color: #955252;
    position : fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    z-index: 1000;
}

li{
    display:inline-block;
}


#logo {
    display: block;
    position: relative;
    top: 5px;
    left: 20px;
}

#nom {
    color: white;
    font-family: American Typewriter, serif;
    font-style: oblique;
    font-size: 30px;
    position: absolute;
    top: -11px;
    left: 70px;
}

#accroche {
    font-family: Verdana, sans-serif;
    color: white;
    position: relative;
    left: 40%;
    top: -45px;
}

#nomdelapage {
    font-family: Verdana, sans-serif;
    color: white;
    position: relative;
    left: 90%;
    top: -80px;
}


footer {
    background-color: rgb(217,196,177);
    font-family: Verdana, sans-serif;
    color: #955252;
    position :relative;
    bottom:-180px;
    height: 65px;
    width: 101.5%;
    left: -7px;
}

#SAV {
    position : relative;
    bottom : -9px;
    left : 20px;
    margin: 1px;
    font-size: 90%;
}
#Reseauxsociaux {
    position : absolute;
    bottom : 25px;
    right : 25px;
}

#Fb
{
    position: absolute;
    right: 30px;
    bottom: 0px;
}

#Twitter
{
    position: absolute;
    right: 90px;
    bottom: 0px;
}

#rights{
    position: absolute;
    left:45%;
    bottom: 0px;
    font-size: 60%;
}