body
{
    overflow-x: hidden;
}

#property{
    position: relative;
    top: 180px;
    text-align: center;
}

#property button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#ajout {
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
    border: 2px solid #e7e7e7;
}

#property ul {
    list-style: none;
    text-align:center;
    position:relative;
    top:100px;
}

#ajout:hover {background-color: #e7e7e7;}


#property li{
    display:inline-block;
}
