body{
    overflow-x: hidden;
}

#cgupage
{
    position: relative;
    top: 90px;
    left: 20%;
    border: 1px solid #955252;
    width: 60%;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 150px;
}

#titre{
    position: relative;
    left: 30%;
}