<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="boutique.css" />
        <title>Boutique</title>
    </head>

    <header>
              <div id="logo"> <a href="D:\Bryan\ISEP\APP G3C\Info\Site\Premierepage\Premierepage.html"><img src=logopetit.png alt="logopetit.png"> </a></div>
              <p id="livewell">LiveWell</p>
              <p id="catchphrase"><i>Votre sécurité est notre priorité.</i></p>
              <p id="namepage">Boutique</p>
    </header>

    <body>


                      <div id="navigation"> <!--Boutons pour accéder aux différentes catégories-->
                  <a href=""><button title="Voir les CeMac" id="CeMac">CeMac</button></a>
                  <a href="#cemac"><button title="Voir les caméras" id="camera">Caméras</button></a>
                  <a href="#caméras"><button title="Voir les accessoires" id="accessoire">Accessoires</button></a>
                      </div>


                      <div id="cemac">
                          <p id="titre1">CeMac</p><br>
                          <p id="texteCeMac">Ce dispositif est le cœur de notre système. Il contient différents capteurs intégrés à l'intérieur de ce dernier.</p>


                          <img src="../../../Ressources/Produits/CeMac.png" title="Photo du CeMac" id="imageCeMac">
                      </div>

                      <div id="caméras">
                          <p id="titre2">Caméra</p><br>
                      </div>

                      <div id="accessoires">
                         <p id="titre3">Accessoires</p><br>
                      </div>
        
    </body>

    <footer> 
              <p id="SAV">Contacter le service client <a href="SAV">ici</a><br><a href="FAQ">FAQ</a><br><a href="Mentions légales">Mentions légales</a></p>
              <p class="Renseignements" id="social">Réseaux sociaux</p>
              <a href="https://www.facebook.com/"><img id="Fb" src="Fb.png"></a>
              <a href="https://www.twitter.com/"><img id="Twitter" src="Twitter.png"></a>
              <p id="rights">2017 Livewell&copy all rights reserved</p>
    </footer>
</html>