<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="boutique.css" />
        <title>Boutique</title>
    </head>

    <header>
              <div id="logo"> <a href="D:\Bryan\ISEP\APP G3C\Info\Site\Premierepage\Premierepage.html"><img src=logopetit.png alt="logopetit.png"> </a></div>
              <p id="livewell">LiveWell</p>
              <p id="catchphrase"><i>Votre sécurité est notre priorité.</i></p>
              <p id="namepage">Boutique</p>
    </header>

    <body>
              <ul id="navigation"> <!--Boutons pour accéder aux différentes catégories-->
                  <li><a href="#ancre1"><button title="Voir les CeMac" id="Cemac">CeMac</button></a></li>
                  <li><a href="#ancre2"><button title="Voir les caméras" id="camera">Caméras</button></a></li>
                  <li><a href="#ancre3"><button title="Voir les accessoires" id="accessoire">Accessoires</button></a></li>
              </ul>

              <p id="cemac">CeMac</p>
              <p id="caméras">Caméras</p>
              <p id="accessoires">Accessoires</p>

              <p id="ancre1"></p> <!--repère pour descendre en cliquant sur les boutons au bon endroit de la page-->
              <p id="ancre2"></p>
              <p id="ancre3"></p>
        
    </body>

    <footer> 
              <p id="SAV">Contacter le service client <a href="SAV">ici</a><br><a href="FAQ">FAQ</a><br><a href="Mentions légales">Mentions légales</a></p>
              <p class="Renseignements" id="social">Réseaux sociaux</p>
              <a href="https://www.facebook.com/"><img id="Fb" src="Fb.png"></a>
              <a href="https://www.twitter.com/"><img id="Twitter" src="Twitter.png"></a>
              <p id="rights">2017 Livewell&copy all rights reserved</p>
    </footer>
</html>