body {
    position : relative;
    background-size: cover;
    background-position: center;
    width: auto;
    font-family: Verdana;
    overflow-x: hidden;
    height: 715px;
    overflow-y: hidden;
}

#Menu  {
    position: fixed;
    list-style: none;
    left:-49px;
    top: 20px;
}

#Menu input
{
    background-color: rgb(217,196,177);
    font-family: Verdana, sans-serif;
    color: #955252;
    width: 100%;
    height: 95px;
    font-size:14px;
    margin: -25px 0px;
    cursor: pointer;
}

#Moncompte, #Mespieces, #Mesperipheriques, #Mesfiltres, #Mesparametres, #Mesconsignes
{
    position: relative;
    margin: 50px 10px;
    width: 100%;
}

.button
{
    text-decoration: none;
    color: #955252;
}

/*Mes pièces*/

#nomdelapièce
{
    position: relative;
    left: 20%;
    top:70px;
}


.temperature
{
    padding-bottom: 20px;
    margin: 10px;
    border: 1px solid #955252 ;
    background-color: rgb(217,196,177);
    border-radius: 5px;;
}
.temperatureName
{
    font-size: x-small;
}
#informationspiece
{

    display: flex;
    justify-content: center;
}


#vueinformation
{
    position: relative;
    left:23%;
    top: 160px;
    border: 1px solid #955252;
    border-radius: 5px;
    width:70%;
    background-color: rgb(217,196,177);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 510px;
}


#lienhistorique
{
    position: relative;
    top:185px;
    left: 20%;
}

#lienconsigne
{
    position: relative;
    top:185px;
    left: 20%;
}

#boutonhistorique
{
    position: relative;
    top: 20px;
    border-radius: 5px;
}

#boutonconsigne
{
    position: relative;
    top: 20px;
    border-radius: 5px;
}