/*Menu*/

#Menu  {
    position: fixed;
    list-style: none;
    left:-49px;
    top: 20px;
}

#Menu input
{
    background-color: #d9c4b19b;
    font-family: Verdana, sans-serif;
    color: #955252;
    width: 160px;
    height: 95px;
    font-size:14px;
    margin: -25px 0px;
    cursor: pointer;
}

#textemenu
{
    position: relative;
    margin: 10px;
}

#Moncompte, #Mespieces, #Mesperipheriques, #Mesconsignes, #Mesparametres, #Boutique
{
    position: relative;
    margin: 50px 10px;
}

/*Body*/

body {
    position : relative;
    height: 740px;
    background-size: cover;
    background-position: center;
    font-family: Verdana;
    overflow-x: hidden;
}

#consignes {
    position: relative;
}

#uneconsigne {
    display: flex;
    text-align: center;
    border-radius: 5px;
}

#consign {
    background-color: #d9c4b19b;
    padding: 5px;
    border-radius: 5px;
    width: 17%;
}

#consign input{
    text-align: center;
}

#uneconsigne div{
    margin: 10px;
}

#destination_value {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    font-size: larger;
}

#selectionsalle{
    position: relative;
    top: 70px;
    left: 15%;
}

#selectionsalle input {
    border-radius: 5px;
}

#champsconsignes {
    position: relative;
    top: 100px;
    left: 15%;
    width: 80%;
    height: 480px;
}

#salleactuelle{
    position: relative;
    left: 15%;
    top: 100px;
}

footer{
    position: relative;
    bottom: -122px;
}