footer {
    background-color: rgb(217,196,177);
    font-family: Verdana, sans-serif;
    color: #955252;
    position :absolute;
    bottom: 0px;
    height: 80px;
    width: 101.5%;
    z-index: -100;
    left: -7px;
}
#faq{
    position: relative;
    left: 55.9%;
    top: -22px;
    font-size: x-small;
}

#cgu
{
    position: relative;
    top: -39px;
    left: 31.5%;
    font-size: x-small;
}

#SAV {
    position : relative;
    left : 20px;
    margin: 1px;
    font-size: 90%;
    top: 5px;
}
#Reseauxsociaux {
    position : absolute;
    bottom : 35px;
    right : 25px;
}

#Fb
{
    position: absolute;
    right: 35px;
    bottom: 5px;
    width: 45px;
    height: 40px;
    cursor: pointer;
}

#Google
{
    position: absolute;
    right: 85px;
    bottom: -1px;
    width: 53px;
    height: 53px;
    cursor: pointer;
}

#rights{
    position: absolute;
    left:45%;
    bottom: 0px;
    font-size: 60%;
}

#reseaux img
{
    width: 45px;
    height: 40px;
}