footer {
    background-color: #d9c4b19b;
    font-family: Verdana, sans-serif;
    color: #955252;
    position :absolute;
    width: 1272px;
    bottom: -10px;
    height: 80px;
    left: -9px;
    overflow-x: hidden;
}

#SAV {
    position : relative;
    bottom : -14px;
    left : 20px;
    margin: 1px;
    font-size: 90%;
}
#Reseauxsociaux {
    position : absolute;
    bottom : 35px;
    right : 25px;
}

#Fb
{
    position: absolute;
    right: 30px;
    bottom: 0px;
}

#Twitter
{
    position: absolute;
    right: 90px;
    bottom: 0px;
}

#rights{
    position: absolute;
    left: 550px;
    bottom: 0px;
    font-size: 60%;
}